
<div id="options" data-controller="visibility" style="width:100%">
  <% @matches.each_with_index do |match, index| %>
    <div class="match card">
      <div class="match-title">
        <div class="match-title-name"> 
          <%= 
            link_to match[:name], 
            params: {
              name: match[:name],
              include_pcs: @include_pcs ? '1': '0',
              include_people: @include_people ? '1': '0',
              include_extended_sections: @include_extended_sections ? '1': '0'
            }, 
            action: "submit" %>
         </div>
        <% if match[:is_best_match] %>
          <div class="match-best"> 
            <%= image_tag('cupid-left.png', height: '30', width: '30') %>
            <div> Best Match! </div>
            <%= image_tag('cupid-right.png', height: '30', width: '30') %>
          </div>
        <% else %>
          <a 
            class="match-show"
            data-action="visibility#toggleTargets" 
            data-visibility-index-param="<%= index %>" >
              Show/Hide Details
          </a>
        <% end %>
        <div style="position:relative">
          <span class="total-score">Total score: </span>
          <% if match[:is_best_match] || match[:score] >= 15 %>
            <span class="gif fire"></span>
          <% elsif match[:score] >= 5 %>
            <span class="gif frog"></span>
          <% else %>
            <span class="gif cold"></span>
          <% end %>
          <% if match[:score] == -1 || match[:score] == 1 || match[:score] == 11 %>
            <span class="slender score"><%= match[:score] %></span>
          <% else %>
            <span class="score"><%= match[:score] %></span>
         <% end %>
          
        </div>
      </div>

      <% if match[:is_best_match] %>
        <div class="match-contents">
          <%= render partial: '/shared/match_content', locals: { match: match } %>
        </div>
      <% else %>
        <div class="match-contents" id="hideable-<%= index %>" data-visibility-target="hideable" hidden>
          <%= render partial: '/shared/match_content', locals: { match: match } %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>