
<div id="options" data-controller="visibility" class="page-container">
  <% @matches.each_with_index do |match, index| %>
    <div class="match card">
      <div class="match-title">
        <div class="match-title-name"> 
          <%= 
            link_to match[:name], 
            params: {
              name: match[:name],
              include_pcs: @include_pcs ? '1': '0',
              include_people: @include_people ? '1': '0',
              include_extended_sections: @include_extended_sections ? '1': '0'
            }, 
            action: "submit" %>
         </div>
        <% if match[:is_best] %>
          <div class="match-best"> 
            <%= image_tag('cupid-left.png', height: '30', width: '30') %>
            <div> Best Match! </div>
            <%= image_tag('cupid-right.png', height: '30', width: '30') %>
          </div>
        <% else %>
          <a 
            class="match-show"
            data-action="visibility#toggleTargets" 
            data-visibility-index-param="<%= index %>" >
              Show/Hide Details
          </a>
        <% end %>

        <%= render partial: '/shared/score_gif', locals: {  
          is_hot: match[:is_hot],
          is_warm: match[:is_warm],
          is_cold: match[:is_cold],
          score: match[:score] 
        } %>
      </div>

      <% if match[:is_best] %>
        <div class="match-contents">
          <%= render partial: '/shared/match_content', locals: { match: match } %>
        </div>
      <% else %>
        <div class="match-contents" id="hideable-<%= index %>" data-visibility-target="hideable" hidden>
          <%= render partial: '/shared/match_content', locals: { match: match } %>
        </div>
      <% end %>

    </div>
  <% end %>
  
  <%= render partial: '/shared/bottom_spacer' %>

</div>