
<div id="options" data-controller="visibility" style="width:100%">
  <% @matches.each_with_index do |match, index| %>
    <div class="match card">
      <div class="match-title">
        <div> <%= match[:name] %> </div>
        <% if match[:is_best_match] %>
          <div class="match-best"> 
            <%= image_tag('cupid-left.png', height: '30', width: '30') %>
            <div> Best Match! </div>
            <%= image_tag('cupid-right.png', height: '30', width: '30') %>
          </div>
        <% else %>
          <a 
            class="match-show"
            data-action="visibility#toggleTargets" 
            data-visibility-index-param="<%= index %>" >
              Show/Hide Details
          </a>
        <% end %>
        <div>
          Total score: 
          <% if match[:is_best_match] || match[:score] >= 15 %>
            <span class="red"><%= match[:score] %></span>
          <% elsif match[:score] >= 5 %>
            <span class="orange"><%= match[:score] %></span>
            <% else %>
            <span class="blue"><%= match[:score] %></span>
          <% end %>
          
        </div>
      </div>

      <% if match[:is_best_match] %>
        <div class="match-contents">
          <%= render partial: '/shared/match_content' %>
        </div>
      <% else %>
        <div class="match-contents" id="hideable-<%= index %>" data-visibility-target="hideable" hidden>
          <%= render partial: '/shared/match_content' %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>