<%= form_with url: "/superlatives#submit", method: :get do |form| %>
  <div class="superlatives-header" style="height:9vh">

    <div class="checkbox">
      <%= form.check_box :include_pcs,  :checked => @include_pcs %>
      <%= form.label :include_pcs, "Include player characters?" %>
    </div>
    <div class="checkbox">
      <%= form.check_box :include_people,  :checked => @include_people %>
      <%= form.label :include_people, "Include people?" %>
    </div>
    <div class="checkbox">
      <%= form.check_box :include_extended_sections,  :checked => @include_extended_sections %>
      <%= form.label :include_extended_sections, "Include extended sections?" %>
    </div>

    <div style="margin-left:24px">
      <%= button_to "And the winners are...", {controller: "superlatives", action: "submit" }, { class: "superlative_search_button"} %>
    </div>
  </div>
<% end %>