<!DOCTYPE html>
<html>
  <head>
    <title>MatchMakerProcessor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application" %>

    <%= favicon_link_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">    <%= javascript_importmap_tags %>
  </head>
  

  <body>

    <div class="title">
      <%= image_tag('matchmaker.png', height: '150', width: '150') %>
      <h1>Match Maker Poggers' Match Maker: the Ferafication</h1>
    </div>
    <div style="height:93vh;display:flex;overflow:auto;box-sizing:border-box;padding:32px;">
      <%= yield %>
    </div>
  </body>
</html>
