<!DOCTYPE html>
<html>
  <head>
    <title>MatchMakerProcessor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application" %>

    <%= favicon_link_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">    <%= javascript_importmap_tags %>
  </head>
  

  <body>

    <div class="header">

      <div class="title">
        <%= image_tag('matchmaker.png', height: '150', width: '150') %>
        <h1>Match Maker Poggers' Match Maker: the Ferafication</h1>
      </div>

      <div>
        <% if current_page?(:controller => 'superlatives', :action => 'submit') %>
          <%= link_to "Match Maker", root_path %>
        <% else %> 
          <%= link_to "Superlatives", superlatives_path %>
        <% end %> 
      </div>
    </div>

    <% if current_page?(:controller => 'superlatives', :action => 'submit') %>
        <%= render partial: '/shared/superlatives_search' %>
    <% end %>

    <% if current_page?(:controller => 'superlatives', :action => 'submit') %>
      <div style="height:84vh;display:flex;padding: 32px 0 0 32px;overflow:auto;">
    <% else %> 
      <div style="height:93vh;display:flex;padding: 32px 0 0 32px;overflow:auto;">
    <% end %> 
        <%= yield %>
      </div>

  </body>
</html>
